$gray: #494949
$border-radius: 5px

.slot-machine
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  .result
    margin: 10px
  .spin-button
    padding: 20px
    border: 1px solid $gray
    border-radius: $border-radius
    background: white
    width: 200px
    text-transform: uppercase
    cursor: pointer
  .panel-container
    width: 370px
    height: 250px
    margin: 10px
  .panel
    display: flex
    flex-direction: row
    .reel
      display: flex
      flex-direction: column
      .slot
        $size: 70px
        $background: $gray
        width: $size
        height: $size
        background-color: $background
        color: white
        border-radius: $border-radius
        margin: 2px
        text-align: center
        line-height: $size
        font-family: sans-serif
        font-weight: bold
        display: block
        transition: 200ms background-color ease-in-out
        &.active
          background-color: lighten($background, 25%)
